.input {
  margin-top: 5px;
  text-align: right;
}

.displays {
  display: grid;
  grid-template-rows: 1fr 2fr;
  width: 97%;
  height: 4.5em;
  border-radius: 10px;
  margin: auto;
  border: 1px solid;
  padding: 5px;
  background-color: #ced5fe;
}

.operation {
  width: 100%;
  text-align: right;
}
